body {
    padding-top: 1em;
}

body > ul > li {
    margin: 0.3em;
}

h1 {
    font-size: 1.75em;
}

#nav h4 {
    margin-top: 15px;
}

#nav {
    padding: 15px 0px;
}

#btn-change, #btn-transfer {
    margin-top: 15px;
}


/** ----------------------------------------- */
#myTabContent {
    margin-bottom: 2em;
}
